<h1>Admin or chef add item to the menu</h1>
<div class="formWrapper">
    <form id="admin" action="/api/menu" method="POST">
      <div class="formError"></div>
      <div class="formSuccess">New item added</div>
   
      <div class="inputWrapper">
              <div class="inputLabel">Pizza Id</div>
              <input type="text" name="pizzaId" placeholder="Rakki"/>
  
          </div>
          <div class="inputWrapper">
                  <div class="inputLabel">Title</div>
                  <input type="text" name="title" placeholder="Rakki"/>
                  
              </div>
          <div class="inputWrapper">
                  <div class="inputLabel">Prize</div>
                  <input type="text" name="price" placeholder="Rakki"/>
                  
          </div>
          <div class="inputWrapper ctaWrapper">
                  <div class="inputWrapper ctaWrapper">
                          <button type="submit" class="cta blue">Get Started</button>
                        </div> 
          </div>
          </form>
  </div>